:root {
    --green: #40ab41;
    --white: #FFFFFF;
    --main-color: #80D8FF;
    --main-color-light: #f56e64;
    --main-color-shadow: #e0b0ac;
    --black: #000000;
    --white-hover: rgba(255, 255, 255, 0.5);
    --dot-background-color: #bbb;
    --lightgray: #d3d3d3;
    --gray: #808080;
    --antiquewhite: #faebd7;
}
