
/**/
dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    max-width: 45%;
    width: 80%;
    text-align: center;

    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}
dialog .pet-card-body {
    display: flex;
    flex-direction: row;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
dialog  strong.description{
    text-transform: capitalize;
    font-weight: bold;
}
#close-dialog {
    display: block;
    margin: 15px auto 0 auto;
    padding: 8px 16px;
    background: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pet-card-body .left img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
}
.pet-card-body .right {
    width: 100%;
    text-align: left;
    margin-left: 1rem;
}

.pet-card-body .right h2{
    border-bottom: 1px solid var(--lightgray);
    color: var(--main-color);
}
