@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.btn-animation {
    color: var(--white);
    transition: all 0.5s;
    position: relative;
}

.btn-animation span {
    transition: all 0.2s;
    background-color: transparent;
}

.btn-animation::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
    opacity: 0;
    transition: all 0.5s;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: var(--main-color);
    border-bottom-color: var(--main-color);
    transform: scale(0.1, 1);
}

.btn-animation:hover span {
    letter-spacing: 2px;
    background-color: transparent;
    color: var(--main-color);
    transition: all 0.5s;
}

.btn-animation:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-animation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.btn-animation:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

/**********************Comienzo Slider**************************/

.slider-container {
    width: 100%;
    height: 100%;
}

.main-slideshow {
    display: none
}

img {
    vertical-align: middle;
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 150px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--white-hover);
    color: var(--main-color);
}

.text {
    color: #f2f2f2;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 33%;
    font-size: 7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.dot-selector-slideshow {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--dot-background-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot-selector-slideshow:hover {
    background-color: var(--main-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.navigation-radio-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5vh;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

/**********************Fin Slider**************************/

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {

    font-size: 16px;
}

.height100 {
    height: 100%;
}

header {
    color: var(--white);
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

footer {
    color: var(--white);
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
}

header .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-size: 1.25rem;
}

header nav {
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header nav ul li {
    text-align: center;
}

header nav {
    color: blue;
}

header nav ul li a {
    text-decoration: none;
}

header img.logo-image {
    width: auto;
    height: 100%;
}

.menu-button {
    color: var(--white);
    font-size: 1rem;
    opacity: 0.9;
    align-items: center;
    display: flex;
    width: 125px;
    justify-content: center;
    cursor: pointer;
}

.menu-button:hover {
    color: var(--main-color);
    background-color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
}

#home {
    height: 90vh;
}

#adopt, #contactus {
    height: 100vh;
}

#home, #adopt, #contactus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 10vh;
}

#home {
    background-color: antiquewhite;
}

#adopt {
    background-color: salmon;
}

#contactus {
    background-color: blanchedalmond;
    height: 85vh;
}


@media (max-width: 1024px) {
    #contactus {
        height: 200vh;
    }
}
