@import "colors.css";
@import "dialog.css";

.main-content {
    height: 85vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.pet-adoption-card {
    box-shadow: 5px 5px 15px var(--lightgray);
    flex-direction: column;
    display: flex;
    border-radius: 2rem;
}

.image-profile-container {
    width: 100%;
    display: flex;
    height: 80%;
    object-fit: cover;
    max-width: 15rem;
    max-height: 20rem;
}

.image-profile-container img {
    width: 100%;
    height: auto;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
}

.description-card-container {
    border-top: 0;
    border-radius: 0 0 2rem 2rem;
    height: 18vh;
    width: 100%;
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    min-height: 155px;
}

.name {
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
}

.characteristic-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.characteristic {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--gray);
}

.characteristic .icon {
    margin-right: 3px;
    font-size: 1.25rem;
}

.characteristic .description{
    font-size: 0.8rem;
}

button.adopt-pet {
    width: 60%;
    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 5px auto;
    text-transform: capitalize;
}
